{
  "openapi": "3.0.1",
  "info": {
    "title": "Customer Profile Management API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://customer-profile-dariusz.tap.h2o-2-1249.h2o.vmware.com",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Customer Profile REST API"
    }
  ],
  "paths": {
    "/api/customer-profiles": {
      "post": {
        "tags": [
          "Customer Profile CRUD"
        ],
        "summary": "Saves provided customer profile.",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerProfileCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customer profile successfully saved.",
            "headers": {
              "Location": {
                "description": "Contains path which can be used to retrieve saved profile. Last element is it's ID.",
                "required": true,
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Passed customer profile is invalid.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/customer-profiles/{id}": {
      "get": {
        "tags": [
          "Customer Profile CRUD"
        ],
        "summary": "Get customer profile.",
        "operationId": "get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer profile retrieved successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerProfileResponse"
                }
              }
            }
          },
          "404": {
            "description": "Customer profile not found.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerProfileResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CustomerProfileCreateRequest": {
        "required": [
          "email"
        ],
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "CustomerProfileResponse": {
        "required": [
          "email",
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      }
    }
  }
}